<h1>Planning Info</h1>
<h5>SOURCE: <a href="http://server7.wikisky.org/api?locale=EN">wikisky.org</a></h5>
<p>WIDTH = 1600 || HEIGHT = 850 || "&img_source=SDSS" for pictures.</p>
<p>Have either two tabs that you can switch between, or just two pages that display the different types.</p>
<p>Create a key chart (eg. Right-ascension meaning, declination meaning, apparent magnitude & apparent dimensions explanation, & an example of distance in a more tangible form).</p>

<IFRAME SRC="http://server1.sky-map.org/skywindow?object=M100&zoom=8&img_source=SDSS" WIDTH=400 HEIGHT=320>
</IFRAME>

<br />

<IFRAME SRC="http://server1.sky-map.org/skywindow?object=M100&zoom=8" WIDTH=400 HEIGHT=320>
</IFRAME>
